[submodule "deps/libarcsim"]
	path = deps/libarcsim
	url = https://github.com/fjourdes/libarcsim.git
	branch = main
[submodule "deps/bogus-interface"]
	path = deps/bogus-interface
	url = https://github.com/fjourdes/bogus-interface.git
	branch = main
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://github.com/fjourdes/eigen.git
